:root {
    --search-bar: #dde1e7;
    --page: #F0F5F9;
    --bold-font: #C9D6DF;
    --other-font: #1E2022;
    --bit-green: #52616B;
    --features: #4d5a72;
}

* {
    font-family: Poppins;
}

body {
    background-color: var(--page);
}

.main-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

button, img, label, input[type=checkbox] {
    cursor: pointer;
}

/* Header */
.nav-head {
    width: 100%;
    background-color: var(--bit-green);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    color: var(--page);
    height: 7vw;
}

#addButton {
    width: 8em;
    height: 3em;
    border: 0;
    border-radius: 10px;
    cursor: pointer;
    background-color: white;
    color: var(--other-font);
    margin-left: 5px;
}

#removeButton {
    width: 8em;
    height: 3em;
    border: 0;
    border-radius: 10px;
    cursor: pointer;
    background-color: var(--other-font);
    color: white;
    margin-left: 5px;
}

/* Features */
.features {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 30px;
    width: 80vw;
    max-width: 700px;
    justify-content: space-between;
}

.features img {
    width: 10px;
}

#favorite-filter {
    margin-left: 1vw;
}

#favorite-filter, #all-filter {
    width: 6.5vw;
    min-width: 50px;
    height: 2vw;
    min-height: 30px;
    font-size: 13px;
    background-color: var(--bit-green);
    border: 0;
    color: white;
    border-radius: 10px;
}

/* Search Bar */
.search-bar {
    width: 30vw;
    min-width: 200px;
    max-width: 400px;
    height: 15px;
    background-color: var(--search-bar);
    display: flex;
    align-items: center;
    border-radius: 10px;
    padding: 10px 20px;
    margin-right: auto;
}

.search-bar input {
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    background-color: var(--search-bar);
}

.search-bar img {
    width: 15px;
    height: auto;
}

.search-bar button {
    border: 0;
    border-radius: 60px;
    background-color: #dde1e7;
    cursor: pointer;
}

/* Modal */

.modal {
    display: none; /* Hidden */
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.modal-content {
    display: flex;
    flex-direction: column;
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid rgb(228, 228, 228);
    width: 300px;
	border-radius: 8px;
    position: absolute;
    float: left;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.centeredBtn {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
}

#error {
    color: gray;
    font-style: italic;
    font-size: 15px;
    display: none;
}

#reset-button {
    width: 100%;
    height: 40px;
    color: var(--other-font);
    border: 0;
    background-color: var(--page);
    cursor: pointer;
    margin-right: 5px;
}

#submit-button {
    width: 100%;
    height: 40px;
    border: 0;
    color: var(--page);
    background-color: var(--bit-green);
    cursor: pointer;
}

input {
    border: 2px solid #b9c3ca;
    border-radius: 5px;
    padding: 1px;
}

input[type=checkbox] {
    position: relative;
    vertical-align: middle;
    margin-right: 5px;
}

input[type=text],
input[type=number]{
    width: 100%;
    height: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#bookform label {
    font-size: 20px;
}

/* Alert Popup */

.alert-popup {
    display: flex;
    flex-direction: column;
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid rgb(228, 228, 228);
    width: 300px;
	border-radius: 8px;
    position: absolute;
    float: left;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.alert {
    display: none; /* Hidden */
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    text-align: center;
}

.alertBtn {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#yes {
    width: 100%;
    height: 30px;
    border: 0;
    background-color: var(--other-font);
    color: white;
}

#no {
    width: 100%;
    height: 30px;
    border: 0;
}

/* Card Styling */

#b-title {
    color: var(--other-font);
}

#b-status {
    width: 6em;
    height: 3em;
    margin-left: auto;
    margin-right: 3em;
    border: 0;
    border-radius: 10px;
}

.book-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 20px;
}

.cardStyle {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 60vw;
    border: 2px solid var(--bold-font);
    box-shadow: 2px 2px 3px var(--bold-font);
    border-radius: 10px;
    background-color: white;
}

#b-cover {
    width: 100px;
    height: auto;
}

#b-title {
    width: 23em;

    word-break: break-all;
    overflow: hidden;
}

.deleteButton {
    width: 20px;
    height: auto;
    margin-right: 1em;
}

#star {
    width: 20px;
    height: auto;
    margin-right: 3em;
}